In [45]:
import requests
import json
import csv
import pandas as pd

In [59]:
def jobs(url):
    # Return list of Jobs
    page = requests.get(url)
    info = json.loads(page.text)
    jobs = info['Jobs']
    return jobs

In [69]:
json_url = 'http://jobs.pymi.vn/jobs?page=1&api=True'

In [60]:
jobs(json_url)[1]

{'Job': {'Address': '',
  'Company': 'Appable Vietnam',
  'Contact': '',
  'Id': '1459',
  'Information': '',
  'Informations': [''],
  'Logo': '',
  'Name': 'Back-end Developer (Python, Database)',
  'Original': False,
  'Province': 'Ho Chi Minh',
  'Size': '',
  'Slug': 'Back-end-Developer-Python-Database',
  'Specialize': '',
  'Specializes': [''],
  'Url': 'https://itviec.com/it-jobs/back-end-developer-python-database-appable-vietnam-1819',
  'Vip': False,
  'Wage': 'Thương lượng',
  'Work': '',
  'Works': [''],
  'create_date': '2017-12-10T00:00:00Z',
  'expiry_date': '',
  'post_date': '2017-12-10'},
 'New': False,
 'URI': 'Back-end-Developer-Python-Database'}

In [47]:
page = requests.get(json_url)
page.status_code

200

In [48]:
info = json.loads(page.text)
print(len(info), type(info))

5 <class 'dict'>

In [49]:
for i in info:
    print(i)

TotalJob
NoPages
Pages
Jobs
CurrentPage

In [50]:
pages = info['Pages']
print(pages)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92]

In [51]:
jobs = info['Jobs']
jobs[1]['Job']

{'Address': '',
 'Company': 'Appable Vietnam',
 'Contact': '',
 'Id': '1459',
 'Information': '',
 'Informations': [''],
 'Logo': '',
 'Name': 'Back-end Developer (Python, Database)',
 'Original': False,
 'Province': 'Ho Chi Minh',
 'Size': '',
 'Slug': 'Back-end-Developer-Python-Database',
 'Specialize': '',
 'Specializes': [''],
 'Url': 'https://itviec.com/it-jobs/back-end-developer-python-database-appable-vietnam-1819',
 'Vip': False,
 'Wage': 'Thương lượng',
 'Work': '',
 'Works': [''],
 'create_date': '2017-12-10T00:00:00Z',
 'expiry_date': '',
 'post_date': '2017-12-10'}

In [52]:
with open('pymi_jobs.csv', 'w') as file:
    f = csv.writer(file)
    f.writerow(['Company', 'Title', 'Salary', 'ID', 'URL'])
    for job in jobs:
        company = job['Job']['Company']
        title = job['Job']['Name']
        salary = job['Job']['Wage']
        id_ = job['Job']['Id']
        url = job['Job']['Url']
        f.writerow([company, title, salary, id_, url])

In [68]:
df = pd.read_csv('pymi_jobs.csv')
df.head()

,Company,Title,Salary,ID,URL
0,WEBSOSANH,"Machine Learning Engineer (Java, Python)",Up to 30m vnd,1493,https://itviec.com/it-jobs/machine-learning-en...
1,Septeni Technology,DevOps Engineer wanted - up to 1000$,"800 - 1,000 USD",1492,https://itviec.com/it-jobs/devops-engineer-wan...
2,Bee Tech,"3 Back-end Dev (Python, Golang, NodeJS)",Up to $1200,1490,https://itviec.com/it-jobs/3-back-end-dev-pyth...
3,Trusting Social,"Data Scientists (Python, SQL)",$3.000 - $10.000,1488,https://itviec.com/it-jobs/data-scientists-pyt...
4,Trusting Social,10 Back-end Engineers (Java/Python/Ruby),$2000 - $4000,1489,https://itviec.com/it-jobs/10-back-end-enginee...

In [70]:
for i in range(1,4):
    print('http://jobs.pymi.vn/jobs?page=' + str(i) + '&api=True')

http://jobs.pymi.vn/jobs?page=1&api=True
http://jobs.pymi.vn/jobs?page=2&api=True
http://jobs.pymi.vn/jobs?page=3&api=True

In [61]:
with open('pymi_jobs.csv', 'w') as file:
    f = csv.writer(file)
    f.writerow(['Company', 'Title', 'Salary', 'ID', 'URL'])
    for i in pages:
        url = 'http://jobs.pymi.vn/jobs?page=' + str(i) + '&api=True'
        for job in jobs(url):
            company = job['Job']['Company']
            title = job['Job']['Name']
            salary = job['Job']['Wage']
            id_ = job['Job']['Id']
            url = job['Job']['Url']
            f.writerow([company, title, salary, id_, url])

In [67]:
df = pd.read_csv('pymi_jobs.csv')
df.head()

,Company,Title,Salary,ID,URL
0,WEBSOSANH,"Machine Learning Engineer (Java, Python)",Up to 30m vnd,1493,https://itviec.com/it-jobs/machine-learning-en...
1,Septeni Technology,DevOps Engineer wanted - up to 1000$,"800 - 1,000 USD",1492,https://itviec.com/it-jobs/devops-engineer-wan...
2,Bee Tech,"3 Back-end Dev (Python, Golang, NodeJS)",Up to $1200,1490,https://itviec.com/it-jobs/3-back-end-dev-pyth...
3,Trusting Social,"Data Scientists (Python, SQL)",$3.000 - $10.000,1488,https://itviec.com/it-jobs/data-scientists-pyt...
4,Trusting Social,10 Back-end Engineers (Java/Python/Ruby),$2000 - $4000,1489,https://itviec.com/it-jobs/10-back-end-enginee...